<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siifi.infos.mapper.ManeyImagesMapper">

    <select id="listAll" resultType="com.siifi.infos.entity.ManeysImage">
        select IMAGES_ID,NAME from sys_maney;
    </select>

    <select id="findById" resultType="com.siifi.infos.entity.ManeysImage" parameterType="int">
        select IMAGES_ID,NAME from sys_maney where IMAGES_ID=#{maneyId};
    </select>

    <insert id="save" parameterType="com.siifi.infos.entity.ManeysImage">
        insert into sys_maney (NAME ) values (#{name});
        <selectKey keyProperty="maneyId" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="edit" parameterType="com.siifi.infos.entity.ManeysImage">
        update sys_maney
        <set>
            <if test="name != null and name != ''">
                NAME=#{name},
            </if>
        </set>
        where IMAGES_ID=#{maneyId}
    </update>

    <delete id="delete" parameterType="int">
        delete from sys_maney where IMAGES_ID=#{maneyId};
    </delete>

</mapper>