<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品中心-教育培训</title>
    <link rel="stylesheet" href="../css/siifi/amazeui.css"/>
    <link rel="stylesheet" href="../css/siifi/common.min.css"/>
    <link rel="stylesheet" href="../css/siifi/education-training.css"/>
    <style>
        .solution-page {
            background: url(../images/siifi/solution/solution-banner.png);
            color: #fff;
            padding: 110px 0 160px;
        }
        @font-face {
            font-family: fontawesome;
            src: url(../fonts/fontawesome-webfont.ttf), url(../fonts/fontawesome-webfont.woff)
        }
    </style>
</head>

<body>
<div class="layout">

    <!--顶部导航 -->
    <div class="headerpage"></div>
    <!--顶部导航 over-->

    <!--===========布局容器================-->
    <div class="layout-container">
        <div class="solution-page">
            <div class="container" th:inline="text">
                <input type="hidden" th:value="${cultivate.cultivateId}" id="tid"/>
                <h2>[[${cultivate.cultivateName}]]</h2>
                <p></p>
            </div>
        </div>
    </div>

    <div class="breadcrumb-box">
        <div class="NeiNav">
            <div class="cmain">
                <ul id="zh">
                </ul>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="WfTopNav">
                <div class="title" th:inline="text">教育培训/<strong
                        style="font-size: 16px;">[[${cultivate.cultivateName}]]</strong></div>
                <div class="hen"></div>
            </div>
            <div class="text" id="testcon">
            </div>
        </div>
    </div>
</div>

<!--联系方式-->
<div class="contact"></div>
<!--联系方式-->

<!--===========布局页脚================-->
<!--底部导航-->
<div class="footerpage"></div>
<!--底部导航-->

<script src="../js/siifi/jquery-2.1.0.js" charset="utf-8"></script>
<script src="../js/siifi/amazeui.js" charset="utf-8"></script>
<script src="../js/siifi/common.js" charset="utf-8"></script>
</body>
<script>
    $(function () {
        $.ajax({
            url: '/infos/cultivate/lists',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                var ul = '';
                $.each(data, function (index, item) {
                    var tid = index;
                    ul += '<li id="active">';
                    ul += '<a href="/infos/industryEducation?id=' + item.cultivateId + '" id="test03' + tid + '"><span class="span1">' + item.cultivateName + '</span></a>';
                    ul += '</li>';
                    $("#zh").html(ul);
                });
                /*点击字体下划线变蓝############################################################################################################*/
                var oP = $(".NeiNav ul li");
                $.ajax({
                    url: '/infos/findNnd',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        nn = (data.tid);
                        oP[nn].classList.add("active");
                    },
                    error: function () {
                        alert("请求失败");
                    }
                });
                $(".NeiNav ul li").click(function () {
                    var n = $(".NeiNav ul li").index(this);
                    $.ajax({
                        url: '/infos/saveNnd',
                        type: 'post',
                        async: false,
                        data: ({
                            n: n
                        }),
                        dataType: 'json',
                        success: function (data) {
                        },
                        error: function () {
                            alert("请求失败");
                        }
                    });
                });
                /*##########################################################################################################################################*/
            }
        });
        var id = $("#tid").val();
        $.ajax({
            url: '/infos/findCultivates',
            type: 'get',
            data: ({
                cultivateId: id,
            }),
            dataType: 'json',
            success: function (data) {
                $("#testcon").html(data.content);
                UE.getEditor('editor').execCommand('insertHtml', $('#testcon').html());
            }
        })
    });
</script>
</html>