<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>社会责任</title>
	<link rel="stylesheet" href="../css/siifi/amazeui.css" />
	<link rel="stylesheet" href="../css/siifi/common.min.css" />
	<link rel="stylesheet" href="../css/siifi/ecological-industry.css" />
	<style>
		.solution-page {
			background: url(../images/siifi/solution/solution-banner.png);
			color: #fff;
			padding: 110px 0 160px;
		}
	</style>
</head>

<body>
<div class="layout">

	<!--顶部导航 -->
	<div class="headerpage"></div>
	<!--顶部导航 over-->

	<!--===========布局容器================-->
	<div class="layout-container">
		<div class="solution-page">
			<div class="container">
				<h2>诚信声明</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="breadcrumb-box">
		<div class="NeiNav">
			<div class="cmain">
				<ul>
					<li class="active">
						<a href="/infos/responsibilityHonest">
							<span class="span1">诚信声明</span>
						</a>
					</li>
					<li>
						<a href="/infos/responsibilityBlacklist">
							<span class="span1">黑名单</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="WfTopNav">
				<div class="title">社会责任/<strong style="font-size: 16px;">诚信声明</strong></div>
				<div class="hen"></div>
			</div>

			<div class="text">
				<p>
					<strong>中网国金集团有限公司郑重承诺： </strong>
					<br/> 在任何形式的经营活动中均遵纪守法、诚实守信接受多方经历与考验，经营状况无水份、守合同重信用、服务品质优质、依法纳税并无虚假宣传及失信记录。
					<br/> 公司不畏任何形式的诋毁和欺诈行为，将依法与社会中的不良行为斗争。
				</p>
			</div>
		</div>
	</div>
</div>

<!--联系方式-->
<div class="contact"></div>
<!--联系方式-->

<!--===========布局页脚================-->
<!--底部导航-->
<div class="footerpage"></div>
<!--底部导航-->

<script src="../js/siifi/jquery-2.1.0.js" charset="utf-8"></script>
<script src="../js/siifi/amazeui.js" charset="utf-8"></script>
<script src="../js/siifi/common.js" charset="utf-8"></script>
</body>

</html>