<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    @font-face {
        font-family: fontawesome;
        src: url(../fonts/fontawesome-webfont.ttf), url(../fonts/fontawesome-webfont.woff)
    }
</style>
<!--===========布局标题================-->
<div class="layout-header am-hide-sm-only">
    <!--顶部开始-->
    <div class="topbar">
        <div class="container">
            <div class="am-g">
                <div class="am-u-md-4" style="line-height: 35px;">
                    <div class="topbar-left">
                        欢迎进入中网国金集团有限公司官方网站！
                    </div>
                </div>
                <div class="am-u-md-8">
                    <div class="topbar-right am-text-right am-fr">
                        <a href="/infos/login.html">登录</a>
                        <a href="/infos/register.html">注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--顶部结束-->

    <div class="header-box" data-am-sticky>
        <!--页眉开始-->
        <div class="container">
            <div class="header">
                <div class="am-g">
                    <div class="am-u-lg-2 am-u-sm-12">
                        <div class="logo">
                            <a href=""><img src="../images/siifi/logo.png" alt=""/></a>
                        </div>
                    </div>
                    <div class="am-u-md-10">
                        <div class="header-right am-fr">
                            <div class="header-contact">
                                <div class="header_contacts--item">
                                    <div class="contact_mini">
                                        <i style="color:#44A8F2" class="contact-icon am-icon-phone"></i>
                                        <strong>(86)10 — 6783 7666</strong>
                                        <span>周一~周五, 09:00 - 17:00</span>
                                    </div>
                                </div>
                                <div class="header_contacts--item">
                                    <div class="contact_mini">
                                        <i style="color:#44A8F2" class="contact-icon am-icon-envelope-o"></i>
                                        <strong>service@siifi.cn</strong>
                                        <span>随时欢迎您的来信！</span>
                                    </div>
                                </div>
                                <div class="header_contacts--item">
                                    <div class="contact_mini">
                                        <i style="color:#44A8F2" class="contact-icon am-icon-map-marker"></i>
                                        <strong>中网国金集团有限公司</strong>
                                        <span>北京市北京经济技术开发区宏达北路7号2幢四层</span>
                                    </div>
                                </div>
                            </div>
                            <a href="/infos/contact" class="contact-btn">
                                <button type="button" class="am-btn am-btn-secondary am-radius">联系我们</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--页眉结束-->

        <!--导航起始点-->
        <div class="nav-contain">
            <div class="nav-inner">
                <ul class="am-nav am-nav-pills am-nav-justify">
                    <li class="">
                        <a href="/infos/siifi.html">首页</a>
                    </li>

                    <li class="">
                        <a href="#">关于集团</a>
                        <!-- 启动子菜单-->
                        <ul class="sub-menu" id="one">
                            <!--顶部导航-->
                        </ul>
                        <!-- 子菜单结束-->
                    </li>

                    <li>
                        <a href="#">产品中心</a>
                        <!-- 启动子菜单-->
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a th:href="@{'/infos/intelligentIndustry?id='+${box.intellId}}" id="a_07">智能产业</a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{'/infos/industryEcology?id='+${box.zoologyId}}" id="a_08">生态产业</a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{'/infos/industryMedia?id='+${box.mediaId}}" id="a_09">文化传媒</a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{'/infos/industryEducation?id='+${box.cultivateId}}" id="a_091">教育培训</a>
                            </li>
                        </ul>
                        <!-- 子菜单结束-->
                    </li>

                    <li>
                        <a href="/infos/news">集团动态</a>
                    </li>

                    <li>
                        <a href="#">社会责任</a>
                        <!-- 启动子菜单-->
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="/infos/responsibilityHonest">诚信声明</a>
                            </li>
                            <li class="menu-item">
                                <a href="/infos/responsibilityBlacklist">黑名单</a>
                            </li>
                        </ul>
                        <!-- 子菜单结束-->
                    </li>

                    <li>
                        <a href="#">招贤纳士</a>
                        <!-- 启动子菜单-->
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="/infos/recruitingIntroduction">招聘简介</a>

                            </li>
                            <li class="menu-item">
                                <a href="/infos/recruitingPosition">招聘职位</a>
                            </li>
                        </ul>
                        <!-- 子菜单结束-->
                    </li>

                    <li>
                        <a href="/infos/contact" class="">联系我们</a>
                    </li>

                    <li>
                        <a href="#">工作台</a>
                        <!-- 启动子菜单-->
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="http://mail.siifi.cn/">企业邮箱</a>
                            </li>
                            <li class="menu-item">
                                <a href="http://oa.siifi.cn/jsoa/login.jsp">办公平台</a>
                            </li>
                            <li class="menu-item">
                                <a href="http://www.chinazwgj.com/PT/login.asp">商务信息平台</a>
                            </li>
                        </ul>
                        <!-- 子菜单结束-->
                    </li>

                    <li>
                        <a href="#">对外合作</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--导航结束点-->
    </div>
</div>

<!--导航栏开始-->
<div class="m-header">
    <div class="am-g am-show-sm-only">
        <div class="am-u-sm-2">
            <div class="menu-bars">
                <a href="#doc-oc-demo1" data-am-offcanvas="{effect: 'push'}"><i
                        class="am-menu-toggle-icon am-icon-bars"></i></a>
                <!-- 侧边栏内容 -->
                <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
                    <a href="javascript: void(0)" class="am-menu-toggle"></a>

                    <div class="am-offcanvas">
                        <div class="am-offcanvas-bar">
                            <ul class="am-menu-nav am-avg-sm-1">
                                <li>
                                    <a href="/infos/siifi.html" class="">首页</a>
                                </li>

                                <li class="am-parent">
                                    <a href="#">关于集团</a>
                                    <!-- 启动子菜单-->
                                    <ul class="am-menu-sub am-collapse" id="two">
                                        <!--移动端顶部-->
                                    </ul>
                                    <!-- 子菜单结束-->
                                </li>

                                <li class="am-parent">
                                    <a href="#" class="">产品中心</a>
                                    <ul class="am-menu-sub am-collapse ">
                                        <li class="menu-item">
                                            <a th:href="@{'/infos/intelligentIndustry?id='+${box.intellId}}" id="t_01">智能产业</a>
                                        </li>
                                        <li class="menu-item">
                                            <a th:href="@{'/infos/industryEcology?id='+${box.zoologyId}}"
                                               id="t_02">生态产业</a>
                                        </li>
                                        <li class="menu-item">
                                            <a th:href="@{'/infos/industryMedia?id='+${box.mediaId}}" id="t_03">文化传媒</a>

                                        </li>
                                        <li class="menu-item">
                                            <a th:href="@{'/infos/industryEducation?id='+${box.cultivateId}}" id="t_04">教育培训</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="">
                                    <a href="/infos/news" class="">集团动态</a>
                                </li>

                                <li class="am-parent">
                                    <a href="#" class="">社会责任</a>
                                    <ul class="am-menu-sub am-collapse  ">
                                        <li class="">
                                            <a href="/infos/responsibilityHonest">诚信声明</a>
                                        </li>
                                        <li class="">
                                            <a href="/infos/responsibilityBlacklist">黑名单</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="am-parent">
                                    <a href="#">招贤纳士</a>
                                    <!-- 启动子菜单-->
                                    <ul class="am-menu-sub am-collapse">
                                        <li class="">
                                            <a href="/infos/recruitingIntroduction">招聘简介</a>
                                        </li>
                                        <li class="">
                                            <a href="/infos/recruitingPosition">招聘职位</a>
                                        </li>
                                    </ul>
                                    <!-- 子菜单结束-->
                                </li>

                                <li class="">
                                    <a href="/infos/contact" class="">联系我们</a>
                                </li>

                                <li class="am-parent">
                                    <a href="#">工作台</a>
                                    <!-- 启动子菜单-->
                                    <ul class="am-menu-sub am-collapse ">
                                        <li class="">
                                            <a href="http://mail.siifi.cn/">企业邮箱</a>
                                        </li>
                                        <li class="">
                                            <a href="http://oa.siifi.cn/jsoa/login.jsp">办公平台</a>
                                        </li>
                                        <li class="">
                                            <a href="http://www.chinazwgj.com/PT/login.asp">商务信息平台</a>
                                        </li>
                                    </ul>
                                    <!-- 子菜单结束-->
                                </li>

                                <li>
                                    <a href="#">对外合作</a>
                                </li>

                                <li class="">
                                    <a href="/infos/login.html" class="">登录</a>
                                </li>

                                <li class="">
                                    <a href="/infos/register.html" class="">注册</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>

            </div>
        </div>
        <div class="am-u-sm-5 am-u-end">
            <div class="m-logo">
                <a href=""><img src="../images/siifi/logo.png" alt=""></a>
            </div>
        </div>
    </div>
    <!--导航栏结束-->
</div>
<script>
    $(function () {
        $.ajax({
            url: '/infos/column/lists',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                var a = "";
                $.each(data, function (index, item) {
                    a += '<li class="menu-item"><a href="/infos/generalDetailsPage?id=' + item.columnId + '">' + item.columnName + '</a></li>';
                    $("#one").html(a);
                    $("#two").html(a);
                });
                $("#one").append('<li class="menu-item"><a href="/infos/enterpriseQualification">企业资质</a></li>');
                $("#two").append('<li class="menu-item"><a href="/infos/enterpriseQualification">企业资质</a></li>');
            }
        });
        /*每次点击 记录控制字体 下划线变蓝得 n值变为0 ############################################################################################################*/
        $("#a_07").click(function () {
            $.ajax({
                url: '/infos/saveNna',
                type: 'post',
                async: false,
                data: ({
                    n: 0
                }),
                dataType: 'json',
                success: function (data) {
                },
                error: function () {
                    alert("请求失败");
                }
            });
        });

        $("#a_08").click(function () {
            $.ajax({
                url: '/infos/saveNnb',
                type: 'post',
                async: false,
                data: ({
                    n: 0
                }),
                dataType: 'json',
                success: function (data) {
                },
                error: function () {
                    alert("请求失败");
                }
            });
        });

        $("#a_09").click(function () {
            $.ajax({
                url: '/infos/saveNnc',
                type: 'post',
                async: false,
                data: ({
                    n: 0
                }),
                dataType: 'json',
                success: function (data) {
                },
                error: function () {
                    alert("请求失败");
                }
            });
        });

        $("#a_091").click(function () {
            $.ajax({
                url: '/infos/saveNnd',
                type: 'post',
                async: false,
                data: ({
                    n: 0
                }),
                dataType: 'json',
                success: function (data) {
                },
                error: function () {
                    alert("请求失败");
                }
            });
        });

        $("#t_01").click(function () {
            $.ajax({
                url: '/infos/saveNna',
                type: 'post',
                async: false,
                data: ({
                    n: 0
                }),
                dataType: 'json',
                success: function (data) {
                },
                error: function () {
                    alert("请求失败");
                }
            });
        });

        $("#t_02").click(function () {
            $.ajax({
                url: '/infos/saveNnb',
                type: 'post',
                async: false,
                data: ({
                    n: 0
                }),
                dataType: 'json',
                success: function (data) {
                },
                error: function () {
                    alert("请求失败");
                }
            });
        });

        $("#t_03").click(function () {
            $.ajax({
                url: '/infos/saveNnc',
                type: 'post',
                async: false,
                data: ({
                    n: 0
                }),
                dataType: 'json',
                success: function (data) {
                },
                error: function () {
                    alert("请求失败");
                }
            });
        });

        $("#t_04").click(function () {
            $.ajax({
                url: '/infos/saveNnd',
                type: 'post',
                async: false,
                data: ({
                    n: 0
                }),
                dataType: 'json',
                success: function (data) {
                },
                error: function () {
                    alert("请求失败");
                }
            });
        });
        /*############################################################################################################################################*/
    });
</script>