<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于集团</title>
    <link rel="stylesheet" href="../css/site/about.css"/>
    <style>
        .new_text {
            _height:300px;
            min-height: 300px;
        }
        .newtext_01 {
            float: left;
            width: 580px;
            height: 100%;
            overflow: hidden;
            padding: 0px 0px 55px 0px;
        }
    </style>
</head>

<body>
<!--顶部导航 -->
<div id="headerpage"></div>
<!--顶部导航 over-->

<div class="main">
    <div class="NeiBanner" style="background-image: url('../images/ban1.jpg')"></div>
    <div class="NeiNav">
        <div class="cmain">
            <ul id="zh">
                <!--导航-->
            </ul>
        </div>
    </div>
</div>
<div class="WfTopNav">
    <input type="hidden" th:value="${column.columnId}" id="tid"/>
    <div class="cmain" th:inline="text">
        <div class="txt1">[[${column.columnName}]]</div>
        <div class="hen"></div>
    </div>
</div>

<div class="cmain new_text">
    <div class="newtext_01" id="testcon">
    </div>
    <div class="img_01">
        <img src="../images/nj1.jpg" alt=""/>
    </div>
</div>

<!--底部导航-->
<div id="footerpage"></div>
<!--底部导航 over-->

<script src="./js/site/jquery-1.12.4.js"></script>
<script src="../js/site/jquery.easing.js"></script>
<script src="../js/site/jquery.SuperSlide.2.1.1.js"></script>
<script src="../js/site/main.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" charset="utf-8" src="../ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../ueditor/lang/zh-cn/zh-cn.js"></script>

<script>
    $(function () {
        $.ajax({
            url: '/infos/column/lists',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                var ul = '';
                $.each(data, function (index, item) {
                    ul += '<li>';
                    ul += '<a href="/infos/about?id=' + item.columnId + '" id="test"><span class="span1">' + item.columnName + '</span></a>';
                    ul += '</li>';
                    $("#zh").html(ul);
                });
                var zz;
                zz = '<a href="/infos/aboutCer"><span class="span1">企业资质</span></a>';
                $("#zh").append('<li>' + zz + '</li>');
                var oP = $(".NeiNav ul li");
                $.ajax({
                    url: '/infos/findNn',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        nn = (data.tid);
                        oP[nn].classList.add("active");
                    },
                    error: function () {
                        alert("请求失败");
                    }
                });
                $(".NeiNav ul li").click(function () {
                    var n = $(".NeiNav ul li").index(this);
                    $.ajax({
                        url: '/infos/saveNn',
                        type: 'post',
                        async: false,
                        data: ({
                            n: n
                        }),
                        dataType: 'json',
                        success: function (data) {
                        },
                        error: function () {
                            alert("请求失败");
                        }
                    });
                });

            }
        });

        /*公共部分
         * 导航栏
         * footer CopyRight
         */
        $("#headerpage").load("/infos/topNavigationBar");
        $("#footerpage").load("/infos/bottomNavigationBar");
        /*富文本编辑器*/
        var id = $("#tid").val();
        $.ajax({
            url: '/infos/findColumns',
            type: 'get',
            data: ({
                columnId: id,
            }),
            dataType: 'json',
            success: function (data) {
                $("#testcon").html(data.content);
                ;
                UE.getEditor('editor').execCommand('insertHtml', $('#testcon').html());
            }
        })
    });
</script>
</body>

</html>