<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<table class="table table-bordered" id='tabletest' border="1px">
    <tr>
        <th>门店Id</th>
        <th>门店名称</th>
        <th>门店地址</th>
        <th>联系电话</th>
    </tr>
</table>
<script>
    $(function () {
        $.ajax({
            url: '/infos/store/lists',    //接口地址
            type: 'get',                  //请求方式
            dataType: 'json',             //返回数据类型
            success: function (data) {
                $.each(data, function (index, item) {       //each jquary里的遍历方法
                    var tr;
                    tr = '<td>' + item.storeId + '</td>' + '<td>' + item.storeName + '</td>' + '<td>' + item.address + '</td>' + '<td>' + item.phone + '</td>';
                    $("#tabletest").append('<tr>' + tr + '</tr>')
                })
            }
        })
    });
</script>
</body>
</html>