<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>中网国金集团-主页</title>
		<link rel="stylesheet" href="../css/site/main.css" />
	</head>

	<body>
		<!--顶部导航 -->
		<div id="headerpage"></div>
		<!--顶部导航 over-->

		<div class="m60 main">
			<div class="banner">
				<!-- 图片列表-->
				<ul>
					<li style="background: url(../images/znzw.png) center 0 no-repeat; display: block;z-index: 20;">
						<a href="#" class="link"></a>
					</li>
					<li style="background: url(../images/zncs.png) center 0 no-repeat;">
						<a href="#" class="link"></a>
					</li>
					<li style="background: url(../images/znny.png) center 0 no-repeat;">
						<a href="#" class="link"></a>
					</li>
				</ul>
				<!-- 左右箭头-->
				<span class="cut prev"></span>
				<span class="cut next"></span>
				<!-- 小圆点指示器-->
				<div class="indicator">
					<a href="" class="cur"></a>
					<a href=""></a>
					<a href=""></a>
				</div>
			</div>
			<script src='//kefu.easemob.com/webim/easemob.js?configId=6d908265-94a8-42cb-bcbc-ec59325abb7d'></script>
			<div class="cmain">
				<div class="NavTop">
					<div class="NavTopTxt"><span>产品与解决方案 /</span> <em>PRODUCTS & SOLUTION</em></div>
					<a class="NavTopMore" href="##">MORE</a>
				</div>
				<div class="News">
					<div class="PartnerScroll">
						<a class="next"></a>
						<a class="prev"></a>
						<div class="hd">
							<span class="pageState"></span>
						</div>
						<div class="bds">
							<ul class="picList">
								<li>
									<a href="##">
										<dl>
											<dt>
                    <img src="../images/x1.png" alt=""/>
                    <em class="CloMain">
                      <em class="clo">
                        <span class="span1">03</span>
                        <span class="shu"></span>
                        <span class="span2">出色的影像性能与强大易用的“悟”Inspire飞行平台相结合  启专业级时</span>
                        <span class="span3">LEARN MORE</span>
                      </em>
                    </em>
                  </dt>
											<dd>Mavic Pro 铂金版</dd>
										</dl>
									</a>
								</li>
								<li>
									<a href="##">
										<dl>
											<dt>
					<img src="../images/x2.png" alt=""/>
                    <em class="CloMain">
                      <em class="clo">
                        <span class="span1">03</span>
                        <span class="shu"></span>
                        <span class="span2">出色的影像性能与强大易用的“悟”Inspire飞行平台相结合  启专业级时</span>
                        <span class="span3">LEARN MORE</span>
                      </em>
                    </em>
                  </dt>
											<dd>Mavic Pro 铂金版</dd>
										</dl>
									</a>
								</li>
								<li>
									<a href="##">
										<dl>
											<dt>
					<img src="../images/x3.png" alt=""/>
                    <em class="CloMain">
                      <em class="clo">
                        <span class="span1">03</span>
                        <span class="shu"></span>
                        <span class="span2">出色的影像性能与强大易用的“悟”Inspire飞行平台相结合  启专业级时</span>
                        <span class="span3">LEARN MORE</span>
                      </em>
                    </em>
                  </dt>
											<dd>Mavic Pro 铂金版</dd>
										</dl>
									</a>
								</li>
								<li>
									<a href="##">
										<dl>
											<dt>
					<img src="../images/x4.png" alt=""/>
                    <em class="CloMain">
                      <em class="clo">
                        <span class="span1">03</span>
                        <span class="shu"></span>
                        <span class="span2">出色的影像性能与强大易用的“悟”Inspire飞行平台相结合  启专业级时</span>
                        <span class="span3">LEARN MORE</span>
                      </em>
                    </em>
                  </dt>
											<dd>Mavic Pro 铂金版</dd>
										</dl>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="application">
				<div class="cmain">
					<div class="NavTop">
						<div class="NavTopTxt"><span>应用服务 /</span> <em>APPLICATION SERVICE</em></div>
						<a class="NavTopMore" href="##">MORE</a>
					</div>
					<div class="AppList">
						<ul>
							<li>
								<a href="##">
									<img src="../images/A1.jpg" alt="" />
									<i class="ALMed">消费应用服务</i>
								</a>
							</li>
							<li>
								<a href="##">
									<img src="../images/A2.jpg" alt="" />
									<i class="ALMed">商业应用服务</i>
								</a>
							</li>
							<li style="margin-right: 0">
								<a href="##">
									<img src="../images/A3.jpg" alt="" />
									<i class="ALMed">工业应用服务</i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="cmain">
				<div class="center">
					<ul>
						<li>
							<a href="##">
								<img src="../images/d1.jpg" alt="" />
								<div class="CenterMed">
									<div class="txt1"><span>智能科技 / </span> ABOUT US</div>
									<div class="hen"></div>
									<div class="txt2">成立于2012年11月29日，注册资金1.2亿，目前企业规模在全国通航企业中排名第十，飞行员培训全国排名第一。</div>
								</div>
							</a>
						</li>
						<li style="margin-right: 0">
							<a href="##">
								<img src="../images/d2.jpg" alt="" />
								<div class="CenterMed">
									<div class="txt1"><span>新闻动态 / </span> NEWS CENTER</div>
									<div class="hen"></div>
									<div class="txt2">
										了解最新动态 <br/> 掌握行业最新详情
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!--底部导航-->
		<div id="footerpage"></div>
		<!--底部导航 over-->

		<script src="../js/site/jquery-1.12.4.js"></script>
		<script src="../js/site/jquery.easing.js"></script>
		<script src="../js/site/jquery.SuperSlide.2.1.1.js"></script>
		<script src="../js/site/main.js"></script>
		<!-- HTML5shiv工具创建IE不存在的HTML5新元素 -->
		<script src="../js/site/html5shiv.js"></script>
		<script src="../js/site/html5shiv.min.js"></script>
		<!-- Selectivizr.js工具能提供大量IE不支持的CSS选择器和属性， -->
		<script src="../js/site/selectivizr.js"></script>
		<script src="../js/site/selectivizr-min.js"></script>

		<script>
			$(function() {
				/*公共部分
				 * 导航栏
				 * footer CopyRight
				 */
				$("#headerpage").load("/infos/topNavigationBar");
				$("#footerpage").load("/infos/bottomNavigationBar");
			});
		</script>
	</body>

</html>