<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>社会责任 诚信声明</title>
		<link rel="stylesheet" href="../css/site/responsibility-honest.css" />
	</head>

	<body>

		<!--顶部导航 -->
		<div id="headerpage"></div>
		<!--顶部导航 over-->

		<div class="main">
			<div class="NeiBanner" style="background-image: url('../images/ban1.jpg')"></div>
			<div class="NeiNav">
				<div class="cmain">
					<ul>
						<li class="active">
							<a href="/infos/responsibilityHonest">
								<span class="span1">诚信声明</span>
								<span class="span2">STATEMENT OF INTEGRITY</span>
							</a>
						</li>
						<li>
							<a href="/infos/responsibilityBlacklist">
								<span class="span1">黑名单</span>
								<span class="span2">BLACKLIST</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="WfTopNav">
				<div class="cmain">
					<div class="txt1">社会责任/<strong style="font-size: 16px;">诚信声明</strong></div>
					<div class="txt2">SOCIAL RESPONSIBILITY</div>
					<div class="hen"></div>
				</div>
			</div>
			<div class="WfMainFigure">
				<div class="cmain">
					<div class="WfImg2">
						<img src="../images/nj1.jpg" alt="" />
					</div>
					<div class="WfTxt2">
						<h3>中网国金集团有限公司郑重承诺：</h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在任何形式的经营活动中均遵纪守法、诚实守信接受多方经历与考验，经营状况无水份、守合同重信用、服务品质优质、依法纳税并无虚假宣传及失信记录。
						<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司不畏任何形式的诋毁和欺诈行为，将依法与社会中的不良行为斗争。
					</div>
				</div>
			</div>
		</div>

		<!--底部导航-->
		<div id="footerpage"></div>
		<!--底部导航 over-->

		<script src="../js/site/jquery-1.12.4.js"></script>
		<script src="../js/site/jquery.easing.js"></script>
		<script src="../js/site/jquery.SuperSlide.2.1.1.js"></script>
		<script src="../js/site/main.js"></script>

		<script>
			$(function() {
				/*公共部分
				 * 导航栏
				 * footer CopyRight
				 */
                $("#headerpage").load("/infos/topNavigationBar");
                $("#footerpage").load("/infos/bottomNavigationBar");
			});
		</script>
	</body>

</html>