<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>社会责任 黑名单</title>
		<link rel="stylesheet" href="../css/site/responsibility-blacklist.css" />
	</head>

	<body>

		<!--顶部导航 -->
		<div id="headerpage"></div>
		<!--顶部导航 over-->

		<div class="main">
			<div class="NeiBanner" style="background-image: url('../images/ban1.jpg')"></div>
			<div class="NeiNav">
				<div class="cmain">
					<ul>
						<li>
							<a href="/infos/responsibilityHonest">
								<span class="span1">诚信声明</span>
								<span class="span2">STATEMENT OF INTEGRITY</span>
							</a>
						</li>
						<li class="active">
							<a href="/infos/responsibilityBlacklist">
								<span class="span1">黑名单</span>
								<span class="span2">BLACKLIST</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="WfTopNav">
				<div class="cmain">
					<div class="txt1">社会责任/<strong style="font-size: 16px;">黑名单</strong></div>
					<div class="txt2">SOCIAL RESPONSIBILITY</div>
					<div class="hen"></div>
				</div>
			</div>
			<div class="WfMainFigure">
				<div class="cmain">
					<div class="WfImg2">
						<img src="../images/nj1.jpg" alt="" />
					</div>
					<div class="WfTxt2">
						<div class="ny_right">
							<div class="cplb_nr">
								<div class="news_huadongmen">
									<div id="Tab3">
										<div class="Menubox2">
											<ul>
												<li id="there1" onmouseover="setTab('there',1,3)" class="hover">个人合作黑名单</li>

												<li id="there2" onmouseover="setTab('there',2,3)">企业黑名单</li>

												<li id="there3" onmouseover="setTab('there',3,3)">产品黑名单</li>
											</ul>
										</div>

										<div class="Contentbox3">
											<div id="con_there_1" class="hover">
												<div class="chanpin_nr">
													<div>
														<p>
															会员阅览验证码：
															<input name="" style="
															height: 22px; 
															width: 120px; 
															border: 1px solid #a27e26; " type="text" /> &nbsp;&nbsp;

															<button style="
															height: 24px; 
															width: 50px; 
															background: #44A8F2; 
															border: 1px solid #44A8F2;
															color: #ffffff;
															transform:translateY(4%);
															-ms-transform:translateY(4%);
															-webkit-transform:translateY(4%);" type="button">查看</button>
														</p>
													</div>
												</div>
											</div>

											<div id="con_there_2" style="display:none">
												<div class="chanpin_nr">
													<div>
														<p>
															会员阅览验证码：
															<input name="" style="
															height: 22px; 
															width: 120px; 
															border: 1px solid #a27e26; " type="text" /> &nbsp;&nbsp;

															<button style="
															height: 24px; 
															width: 50px; 
															background: #44A8F2; 
															border: 1px solid #44A8F2;
															color: #ffffff;
															transform:translateY(4%);
															-ms-transform:translateY(4%);
															-webkit-transform:translateY(4%);" type="button">查看</button>
														</p>
													</div>
												</div>
											</div>

											<div id="con_there_3" style="display:none">
												<div class="chanpin_nr">
													<div>
														<p>
															会员阅览验证码：
															<input name="" style="
															height: 22px; 
															width: 120px; 
															border: 1px solid #a27e26; " type="text" /> &nbsp;&nbsp;

															<button style="
															height: 24px; 
															width: 50px; 
															background: #44A8F2; 
															border: 1px solid #44A8F2;
															color: #ffffff;
															transform:translateY(4%);
															-ms-transform:translateY(4%);
															-webkit-transform:translateY(4%);" type="button">查看</button>
														</p>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--底部导航-->
		<div id="footerpage"></div>
		<!--底部导航 over-->

		<script src="../js/site/jquery-1.12.4.js"></script>
		<script src="../js/site/jquery.easing.js"></script>
		<script src="../js/site/jquery.SuperSlide.2.1.1.js"></script>
		<script src="../js/site/responsibility-blacklist.js"></script>

		<script>
			$(function() {
				/*公共部分
				 * 导航栏
				 * footer CopyRight
				 */
                $("#headerpage").load("/infos/topNavigationBar");
                $("#footerpage").load("/infos/bottomNavigationBar");
			});
		</script>
	</body>

</html>